.header__logout-btn {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: right;
color: #A9A9A9;
background: none;
border: none;
cursor: pointer;
padding: 0;
margin-left: 24px;
}

@media screen and (max-width: 767px) {
    .header__logout-btn {
        margin: 18px 0 40px;
    }
}