{
  "extends": "airbnb-base",
  "rules": {
    "no-console": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "no-control-regex": 0,
    "no-useless-escape": 0,
    "func-names": [
      "error",
      "never"
    ]
  }
}
