.profile__avatar-edit-button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color .3s ease;
    border: 2px solid transparent;
    outline: none;
}

.profile__avatar-edit-button:hover {
    background-color: rgba(0, 0, 0, .8);
    background-image: url('../../../images/profile-avatar-edit-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}