.header__navlink {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-decoration: none;
    transition: opacity .3s ease;
}

.header__navlink:hover {
    opacity: .6;
}

@media screen and (max-width: 880px) {
    .header__navlink {
        font-size: 14px;
        line-height: 17px;
        margin-right: 27px;
    }
}