.popup__form-text-error {
    max-width: 356px;
    opacity: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    top: 173px;
}

@media screen and (max-width: 880px) {
    .popup__form-text-error {
        top: 156px;
        max-width: 236px;
    }
}