.popup__container_type_edit-avatar {
    width: 430px;
    min-height: 272px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 880px) {
    .popup__container_type_edit-avatar {
        width: 282px;
    }
}